.d-hotwire-native-none {
    display: none !important;
}

.native-hidden {
    display: none;
}

.d-hotwire-native-block {
    display: block !important;
}

[data-bridge-components~="button"]
[data-controller~="bridge--button"] {
    display: none !important;
}
